<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="addfree.osbbyx.omsa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Director"></activity>
        <activity android:name=".Quejas" />
        <activity
            android:name=".ubicacion"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ubicacion" />
        <activity
            android:name=".servicioparada"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_servicioparada" />
        <activity
            android:name=".Contacto"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".AcercaDeLaApp"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".SobreNosotros"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".aNoticias"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".Register"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".Login"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ServicioObjetoExtraviados"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ServicioServicioEspecialDeAutobuses"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".servicioObjetosExtraviados"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>